.about-body
{
    @include generateContainer(inherit, $about-body-container-padding-top, $about-body-container-padding-bottom);

    &-beautifulBox
    {
	&Top
	{
	    border-radius: $primary-border-radius $primary-border-radius 0px 0px;
	    background: black;
	    color: white;
	}

	&Bottom
	{
	    border-radius: 0px 0px $primary-border-radius $primary-border-radius;
	    background: white;
	    border: 1px solid black;
	}
    }

    .remove-sides
    {
	list-style: none;

	li
	{
	    color: $about-body-text-faded;
	    line-height: 30px;
	}

	.model-attribute
	{
	    color: $about-body-text;
	}

	@include removePositioning;
    }
}
