.about-body
{
    @include generateContainer($about-body-background, $about-body-container-padding-top, $about-body-container-padding-bottom);

}

.just-chillin-left-temp
{
    padding: 0px;
    margin: 0px;
    height: 900px;
    background-image: url("../../img/page-assets/just-chillin-asset.jpg");
    background-repeat: no-repeat;

    //Refactor
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.just-chillin-right-temp
{
    padding: 0px;
    margin: 0px;
    height: 450px;
    background-image: url("../../img/page-assets/just-chillin-asset-2.jpg");
    background-repeat: no-repeat;

    //Refactor
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fast-facts-header
{
    margin-left: 78vw;
}

.fast-facts-content
{
    width: 110%;

    position: relative;

    li{
	margin-top: 15px;
	margin-bottom: 15px;
	list-style: none;
    }
    left: 35vw;
}

.just-chillin-left-temp-2
{
    padding: 0px;
    margin: 0px;
    height: 600px;
    background-image: url("../../img/page-assets/just-chillin-asset.jpg");
    background-repeat: no-repeat;

    //Refactor
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
