.contact-body
{
    @include generateContainer($contact-body-background, $contact-body-container-padding-top, $contact-body-container-padding-bottom);

    h1{
	color: $contact-body-text;
    }

    h5{
	color: $contact-body-text-faded;
    }

    .contact-body-row-contact-info
    {
	position: absolute;
	transform: translateY(150%)
    }

    .icon-cluster
    {
	transform: translateY(650%)
    }
}





