.contact-body
{

    //Refactor all these types at a later date.
    @include generateContainer(inherit, 0px, 100px)
    {
    }

    .boxed-in
    {
	border-radius: 8px;
	border: 1px solid black;
	padding-bottom: 15px;
    }

    .remove-sides
    {
	li
	{
	    color: $contact-body-text-faded;
	    line-height: 30px;
	}

	.model-attribute
	{
	    color: $contact-body-text;
	}

	list-style: none;

	@include removePositioning;
    }
}

.contact-information
{
    letter-spacing: .1em;
    font-weight: 800;
}
