.gallery-body
{
    @include generateContainer($gallery-body-container-background, $gallery-body-container-padding-top, $gallery-body-container-padding-bottom)
}

.gallery-body-row
{

    &-left
    {
	    background-image: url(../../img/gallery4.jpg);
	    background-repeat: no-repeat;
	    height: 500px;
	    background-size: cover;
    }

    &-right
    {
	    background-image: url(../../img/gallery3.jpg);
	    background-repeat: no-repeat;
	    height: 500px;
	    background-size: cover;
    }

    &-middle
    {
	&-brand
	{
	    background-image: url(../../images/logo.png);
	    background-repeat: no-repeat;
	    height: 100px;
	    width: 150px;
	    margin-left: 160px;
	    background-size: cover;
	}
    }

    min-height: 500px;
}

