.gallery-body
{
    @include generateContainer($gallery-body-container-background, $gallery-body-container-padding-top, $gallery-body-container-padding-bottom)
}

.gallery-body-row
{

    &-left
    {
	@media screen and (min-width: 768px)
	{
	    background-image: url(../../images/gallery4.jpg);
	    background-repeat: no-repeat;
	    height: 500px;
	    background-size: cover;
	    color: $gallery-body-row-color;

	    h1{
		font-weight: bold;
		margin-top: 60%;
		padding: 10%;
	    }
	}
    }

    &-right
    {
	@media screen and (min-width: 768px)
	{
	    background-image: url(../../images/gallery3.jpg);
	    background-repeat: no-repeat;
	    height: 500px;
	    background-size: cover;
	    color: $gallery-body-row-color;

	    h1{
		font-weight: bold;
		margin-top: 60%;
		padding: 10%;
	    }
	}
    }

    &-middle
    {
	&-brand
	{
	    background-image: url(../../images/logo.png);
	    background-repeat: no-repeat;
	    height: 100px;
	    width: 150px;
	    margin-left: 160px;
	    background-size: cover;
	}

	&-text
	{
	    color: $gallery-body-row-middle-text-color;
	    text-align: justify;
	}
    }

    min-height: 500px;
}

