.introduction
{
    @include generateContainer($introduction-container-background, $introduction-container-padding-top, $introduction-container-padding-bottom)
}

.introduction-row
{
    text-align: center;
    min-height: 700px;
}

.just-chillin-left
{
    width: 50%;
    height: 700px;
    background-image: url("../../img/page-assets/just-chillin-asset.jpg");
    background-repeat: no-repeat;

    //Refactor
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.just-chillin-right
{
    width: 50%;
    height: 700px;
    background-image: url("../../img/page-assets/just-chillin-asset-2.jpg");
    background-repeat: no-repeat;

    //Refactor
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
