.introduction
{
    .container
    {
	background: $introduction-container-background;
	padding-top: 20px;
    }
}

.introduction-row
{

    text-align: center;

    &-left, &-right
    {
	margin-top: 50px;
	text-align: center;
    }

    &-left
    {
	@media screen and (min-width: 768px)
	{
	    background-image: url(../../images/gallery4.jpg);
	    background-repeat: no-repeat;
	    height: 500px;
	    background-size: cover;
	}
    }

    &-right
    {
	text-align: right;
	@media screen and (min-width: 768px)
	{
	    background-image: url(../../images/gallery3.jpg);
	    background-repeat: no-repeat;
	    height: 500px;
	    background-size: cover;
	}
    }

    &-middle
    {
	&-brand
	{
	    background-image: url(../../images/logo.png);
	    background-repeat: no-repeat;
	    height: 100px;
	    width: 150px;
	    margin-left: 160px;
	    background-size: cover;
	}

	&-text
	{
	    color: $about-row-middle-text-color;
	    text-align: justify;
	}
    }
    min-height: 500px;
}

.brand-container
{

    //REFACTOR
    background: $brand-container-background;
    position: relative;
    margin-top: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -60px;
    margin-right: -50px;
    z-index: 1000;
    border-radius: 5px 5px 0px 0px;
}

.text-container
{
    background: $text-container-background;
    margin-top: 50px;
    padding: 20px;
    position: relative;
    margin-left: -60px;
    margin-right: -50px;
    z-index: 1000;
    border-radius: 0px 0px 5px 5px;
}
