.introduction
{
    @include generateContainer($introduction-container-background, $introduction-container-padding-top, $introduction-container-padding-bottom)
}

.introduction-row
{
    text-align: center;
    min-height: 700px;
}

//Refactor at later point
$width-var: 50%;

//Mixin for DRY.
%just-chillin
{
    padding: 0px;
    margin: 0px;
    width: $width-var;
    height: 700px;
    background-repeat: no-repeat;
}


.just-chillin-left
{
    @extend just-chillin;
    background-image: url("../../img/page-assets/just-chillin-asset.jpg");

    //Responsive backgrounds.
    @media screen and (max-width: 767px)
    {
	width: 100%;
    }

    @include backgroundSizeCover;
}

.just-chillin-right
{
    @extend just-chillin;
    background-image: url("../../img/page-assets/just-chillin-asset-2.jpg");

    //Responsive backgrounds.
    @media screen and (max-width: 767px)
    {
	display: none;
    }

    @include backgroundSizeCover;
}
