+generateSection("about-divider")
  .p-y-2
    .text-xs-center.reveal-on-scroll-about-divider.about-divider-cont
        h1 <strong>About Karen</strong>
        .row
            .col-md-4.col-md-offset-4.m-t-1
                p Karen is available for modeling jobs encompassing Panorama shots, vintage shots, runway shots, and more.
        hr(class=["mini-break", "m-t-1"])