include ../../utility/bootstrap/_index.pug  

+generateSection("about-body")
  +generateRow("about-body")
    .fast-facts-container
        .fast-facts-header
          h1 Fast Facts
        .fast-facts-content.m-t-3
          .col-md-5
            li Height: 
            li Shoe size: 
            li Measurements: 
            li Hair color: 
            li Hair length: 
            li Eye color: 
            li Ethicity: 
            li Skin color: 
          .col-md-4.text-xs-left
            li <span class="model-attribute">5'9</span>
            li <span class="model-attribute">9.5</span>
            li <span class="model-attribute">34-25-36</span>
            li <span class="model-attribute">Brown</span>
            li <span class="model-attribute">Long</span>
            li <span class="model-attribute">Hazel</span>
            li <span class="model-attribute">Caucasian</span>
            li <span class="model-attribute">Fair</span>
    .col-sm-4.just-chillin-left-temp
    .col-sm-4.p-x-0.m-x-0
      .just-chillin-right-temp
      .just-chillin-right-temp
    .col-sm-4.p-x-0.m-x-0
      .just-chillin-right-temp
      .just-chillin-right-temp
    