include ../../utility/bootstrap/_index.pug  

+generateSection("about-body")
  +generateRow("about-body")
    +generateColumn(12, "facts", "about-body")
      .m-t-3
        h2.text-xs-center Fast Facts
      .m-t-1
        .row
           ul.text-xs-left.m-t-2.remove-sides
            .col-md-5.col-md-offset-5
                li Height: <span class="model-attribute">5'9</span>
                li Shoe size: <span class="model-attribute">9.5</span>
                li Measurements: <span class="model-attribute">34-25-36</span>
                li Hair color: <span class="model-attribute">Brown</span>
                li Hair length: <span class="model-attribute">Long</span>
                li Eye color: <span class="model-attribute">Hazel</span>
                li Ethicity: <span class="model-attribute">Caucasian</span>
                li Skin color: <span class="model-attribute">Fair</span>
        .row
          .m-t-3.text-xs-center
             button(class=["btn", "btn-learn"])= "Read More"