include ../../utility/bootstrap/_index.pug  

+generateSection("contact-body")
  +generateRow("contact-body")
    +generateColumn(12, "contact-info", "contact-body")
      +generateMargin("large") 
        .row.text-xs-center
          .contact-information
            p 1859 Buno Road, 
            p Milford Michigan,
            p MI 48381 
      +generateMargin()
            .row.text-xs-center
                p polzink@yahoo.com
      +generateMargin()
            .row.text-xs-center
                +facebook-icon
                +google-icon
                +pintrest-icon
                +twitter-icon
                +wifi-icon