+generateSection("contact-divider")
  .text-xs-center
    +generatePadding("medium", "top")
      +generatePadding("medium", "bottom")
         h1 <strong>Get In Touch</strong>
         .row
           .m-t-2.col-md-4.col-md-offset-4
             p Contact Karen for a interview, runway, or shooting session.
         hr(class=["mini-break", "m-t-1"])