include ../../utility/bootstrap/_index.pug  

+generateSection("about-body")
  +generateRow("about-body")
    +generateColumn(12, "facts", "about-body")
      .m-t-3
        .row
           ul.text-xs-center.m-t-2.remove-sides
            p 1859 Buno Road, 
            p Milford Michigan 
            p MI 48381 
        .row.text-xs-center
          p Buttons go here.