include ../../utility/bootstrap/_index.pug  

+generateSection("contact-body")
  +generateRow("contact-body")
    .col-md-4.contact-overlay.dam.contact-overlay-picture-1
    .col-md-4
      .contact-info-container.reveal-on-scroll-contact-body.contact-body-cont
          .contact-information.text-xs-center
              h1 Milford, MI
          .m-t-2
              .row.text-xs-center
                  h5 polzink@yahoo.com
          .m-t-2
          +generateMargin()
          .icon-cluster.text-xs-center
            .row.text-xs-center
                +facebook-icon
                +google-icon
    .col-md-4.contact-overlay.dam.contact-overlay-picture-2