include ../../utility/bootstrap/_index.pug  

+generateSection("gallery-body")
  +generateRow("gallery-body")
    .col-md-10.col-md-offset-1
      .col-md-4.crop-top.m-t-md-2
        +generateCardWithOverlay("modelGallery", "Runway, 2016", "", "img/page-assets/just-chillin-asset.jpg")
      .col-md-4.crop-top.m-t-md-2
        +generateCardWithOverlay("modelGallery", "Runway, 2016", "", "img/page-assets/just-chillin-asset.jpg")
      .col-md-4.crop-top.m-t-md-2
        +generateCardWithOverlay("modelGallery", "Runway, 2016", "", "img/page-assets/just-chillin-asset.jpg")
    
    
