include ../../utility/bootstrap/_index.pug  

+generateSection("gallery-body")
  +generateRow("gallery-body")
    .col-md-10.col-md-offset-1
      .col-md-4.crop-top.m-t-md-2
        +generateCardWithOverlay("modelGallery", "Runway", "", "img/Runway/asset-runway4.jpg", "First", "First")
        +generateInvisibleCard("modelGalleryInvisible", "Runway", "", "img/Runway/asset-runway1.jpg", "First", "First")
        +generateInvisibleCard("modelGalleryInvisible", "Runway", "", "img/Runway/asset-runway3.jpg", "First", "First")
        +generateInvisibleCard("modelGalleryInvisible", "Runway", "", "img/Runway/asset-runway4.jpg", "First", "First")
        +generateInvisibleCard("modelGalleryInvisible", "Runway", "", "img/Runway/asset-runway5.jpg", "First", "First")
        +generateInvisibleCard("modelGalleryInvisible", "Runway", "", "img/Runway/asset-runway6.jpg", "First", "First")
        +generateInvisibleCard("modelGalleryInvisible", "Runway", "", "img/Runway/asset-runway7.jpg", "First", "First")
        +generateInvisibleCard("modelGalleryInvisible", "Runway", "", "img/Runway/asset-runway8.jpg", "First", "First")
      .col-md-4.crop-top.m-t-md-2
        +generateCardWithOverlay("modelGallery", "Advertising", "", "img/Advertising/asset-advert1.jpg", "Second", "Second")
        +generateInvisibleCard("modelGalleryInvisible", "Advertising", "", "img/Advertising/asset-advert1.jpg", "Second", "Second")
        +generateInvisibleCard("modelGalleryInvisible", "Advertising", "", "img/Advertising/asset-advert3.png", "Second", "Second")
        +generateInvisibleCard("modelGalleryInvisible", "Advertising", "", "img/Advertising/asset-advert4.png", "Second", "Second")
        +generateInvisibleCard("modelGalleryInvisible", "Advertising", "", "img/Advertising/asset-advert5.png", "Second", "Second")
      .col-md-4.crop-top.m-t-md-2
        +generateCardWithOverlay("modelGallery", "Print", "", "img/Print/asset-print5.jpg", "Third", "Third")
        +generateInvisibleCard("modelGalleryInvisible", "Print", "", "img/Print/asset-print1.jpg", "Third", "Third")
        +generateInvisibleCard("modelGalleryInvisible", "Print", "", "img/Print/asset-print3.jpg", "Third", "Third")
        +generateInvisibleCard("modelGalleryInvisible", "Print", "", "img/Print/asset-print4.jpg", "Third", "Third")
        +generateInvisibleCard("modelGalleryInvisible", "Print", "", "img/Print/asset-print5.jpg", "Third", "Third")
        +generateInvisibleCard("modelGalleryInvisible", "Print", "", "img/Print/asset-print6.jpg", "Third", "Third")
        +generateInvisibleCard("modelGalleryInvisible", "Print", "", "img/Print/asset-print7.jpg", "Third", "Third")
        +generateInvisibleCard("modelGalleryInvisible", "Print", "", "img/Print/asset-print8.jpg", "Third", "Third")
