include ../../utility/bootstrap/_index.pug  

+generateSection("gallery-body")
  +generateRow("gallery-body")
    +generateColumn(6, "left", "gallery-body")
    +generateColumn(6, "right", "gallery-body")
    +generateColumn(6, "left", "gallery-body")
    +generateColumn(6, "right", "gallery-body")