+generateSection("gallery-divider")
  .text-xs-center
    +generatePadding("medium", "top")
      +generatePadding("medium", "bottom")
         h2 <strong>Photo Galleries</strong>
         .row
           .m-t-2.col-md-4.col-md-offset-4
             p Look at a variety of styles modeled by Karen for a preview of what she can do for you!
         hr(class=["mini-break", "m-t-1"])
