+generateSection("gallery-divider")
  .text-xs-center.reveal-on-scroll-gallery-divider.gallery-divider-cont
    +generatePadding("medium", "top")
      +generatePadding("medium", "bottom")
         h1 <strong>Photo Galleries</strong>
         .row
           .m-t-2.col-md-4.col-md-offset-4
             p Click around the galleries below to explore some of Karen's past work.
         hr(class=["mini-break", "m-t-1"])
