include ../../utility/bootstrap/_index.pug  

+generateSection("gallery-body")
  +generateRow("gallery-body")
    +generateColumn(6, "left", "gallery-body")
      .text-overlay.text-overlay-left
        h1 Advertising
    +generateColumn(6, "right", "gallery-body")
      .text-overlay.text-overlay-right
        h1 Print
    +generateColumn(6, "left", "gallery-body")
      .text-overlay.text-overlay-left
        h1 Runway
    +generateColumn(6, "right", "gallery-body")
      .text-overlay.text-overlay-right
        h1 Polaroid