include ../../utility/bootstrap/_index.pug  

+generateSection("gallery-body")
  +generateRow("gallery-body")
    .col-lg-6.gallery-body-row-left
    .col-lg-6.gallery-body-row-right
    .col-lg-6.gallery-body-row-left
    .col-lg-6.gallery-body-row-right