body
  include _introduction.pug
  include _gallery-divider.pug
  include _gallery-body.pug
  include _about-divider.pug
  include _about-body.pug
  include _contact-divider.pug
  include _contact-body.pug
  include _footer.pug