include ../../utility/bootstrap/_index.pug  

+generateSection("introduction")
  +generateRow("introduction")
    +generateColumn(4, "left", "introduction")
    +generateColumn(4, "middle", "introduction")
      .brand-container
        +generateSubRow("middle-brand", "introduction")
      .text-container
        +generateSubRow("middle-text", "introduction")
          p Karen is currently modeling in the metro Detroit Area. She is doing limited TFP/CD work since graduated and now working full time. Karen is currently modeling in the metro Detroit Area. She is doing limited TFP/CD work since graduated and now working full time. Karen is currently modeling in the metro Detroit Area. She is doing limited TFP/CD work since graduated and now working full time. Karen is currently modeling in the metro Detroit Area. She is doing limited TFP/CD work since graduated and now working full time.
      +generateSubRow("middle-button", "introduction")
        +generateMargin("large")
        button(class=["btn", "btn-learn"]) Learn More
    +generateColumn(4, "right", "introduction")