include ../../utility/bootstrap/_index.pug  

//- We need to get this to be a bi-imagal section,
//- Divided into two portions: No weird middle portion
//- And then add overlaying text: This will be done via
//- Pseudo elements.

+generateSection("introduction")
  .row
    .introduction-text-container
        h1 Karen Polzin
        h2 Milford Based Model
        .m-t-2
        button(class=["btn", "btn-read"]) Learn More
  .row
    .col-sm-6.just-chillin-left
    .col-sm-6.just-chillin-right
