include ../../utility/bootstrap/_index.pug  

//- We need to get this to be a bi-imagal section,
//- Divided into two portions: No weird middle portion
//- And then add overlaying text: This will be done via
//- Pseudo elements.

+generateSection("introduction")
.col-xs-6.just-chillin-left
.col-xs-6.just-chillin-right
