.slide-out
  .slide-out-content
    ul
      li
        a.slide-down(href="#introduction") Home
      li
        a.slide-down(href="#about-divider") About
      li
        a.slide-down(href="#gallery-divider") Gallery
      li
        a.slide-down(href="#contact-divider") Contact