.slide-out
  .slide-out-content
    ul.slide-out-item-wrapper
      a.slide-down(href="#introduction")
        li.slide-out-item
          p.slide-down Home
      a.slide-down(href="#about-divider")
        li.slide-out-item
          p.slide-down About
      a.slide-down(href="#gallery-divider")
        li.slide-out-item
          p.slide-down Gallery
      a.slide-down(href="#contact-divider")
        li.slide-out-item
          p.slide-down Contact