.slide-out
  .slide-out-content
    ul.slide-out-item-wrapper
      li.slide-out-item
        a.slide-down(href="#introduction") Home
      li.slide-out-item
        a.slide-down(href="#about-divider") About
      li.slide-out-item
        a.slide-down(href="#gallery-divider") Gallery
      li.slide-out-item
        a.slide-down(href="#contact-divider") Contact