.slide-out.slide-out-toggleOff
  .slide-out-content
    ul.slide-out-item-wrapper
      a.slide-down(href="#introduction")
        li.slide-out-item
          p Home
      a.slide-down(href="#about-divider")
        li.slide-out-item
          p About
      a.slide-down(href="#gallery-divider")
        li.slide-out-item
          p Gallery
      a.slide-down(href="#contact-divider")
        li.slide-out-item
          p Contact