.navbar-mobile-toggler
{
    margin-top: 0px;
    background: transparent;
    border: 0px solid transparent;
    margin-top: 5px;

    border-radius: $btn-mobile-radius;
    &:hover .navbar-mobile-toggler-horizontal-bar, &:active, &:focus{
	background: grey;
    }

}

//Probably would be useful to make this a reusible
//mixin or something...
.navbar-mobile-toggler-horizontal-bar
{
    display: block;
    width: $btn-bar-width;
    height: $btn-bar-height;
    margin-top: $btn-bar-margin-top;
    margin-bottom: $btn-bar-margin-bottom;

    background-color: $navbar-text;
    border-radius: $btn-bar-radius;
}
