//Mix with bootstrap and this would be a prime interface.

@mixin generateButton($color, $background, $colorHover, $backgroundHover, $height, $width, $borderRadius)
{
    background: $background;
    color: $color;

    border-radius: $borderRadius;

    line-height: $height;
    width: $width;

    @include P01b-ButtonTransition(0.5s);

    &:hover
    {
	background: $backgroundHover;
	color: $colorHover;

	//Refactor to be generalizable from interface.
	transform: scale($button-scale);
	@include P01b-ButtonTransition(0.25s);
    }
}
    
