@mixin generateButton($color, $background, $colorHover, $backgroundHover, $height, $width, $borderRadius)
{
    background: $background;
    color: $color;

    border-radius: $borderRadius;

    line-height: $height;
    width: $width;

    //Refactor to be generalizable from interface.
    transition: background-color .25s, transform .25s ease-out;

    &:hover
    {
	background: $backgroundHover;
	color: $colorHover;

	//Refactor to be generalizable from interface.
	transform: scale(1.25);
	transition: background-color .25s, transform .25s ease-out;
    }
}
    
