.navbar-mobile-toggler
{
    margin-top: -1px;
    background: transparent;

    border: 0px solid transparent;

    border-radius: 4px;
    padding: 10px 11px;
    &:hover .navbar-mobile-toggler-horizontal-bar, &:active, &:focus{
	background: grey;
    }
}

.navbar-mobile-toggler-horizontal-bar
{
    display: block;
    width: 32px;
    height: 4px;
    margin-top: 5px;
    margin-bottom: 3px;

    //Refactor color.
    background-color: $navbar-text;

    border-radius: 1px;
}
