.btn-learn
{
    background: $btn-learn-background;
    color: $btn-learn-color;

    border-radius: 2px;
    line-height: 30px;
    width: 150px;

    transtion: fade-out 0.5s;

    &:hover
    {
	transtion: fade-in 0.5s;
	background: $btn-learn-background-hover;
	color: $btn-learn-color-hover;
    }
}
