.navbar-custom
{
    background: $navbar-background !important;
    height: 90px;
    padding-top: 20px;

    &-brand
    {
	color: lighten($navbar-brand, 20%);
	@media screen and (min-width: 768px)
	{
	    font-size: $navbar-brand-font-size-desktop;
	}

	@media screen and (max-width: 767px)
	{
	    font-size: $navbar-brand-font-size-mobile;
	}

	transition: color .5s;

       &:hover
       {
	   transition: color .5s;
	   color: darken($navbar-brand, 10%);
       }

	height: 90px;
    }

    &-icon-group
    {
	height: 100%;
	height: 90px;
    }

    &-quick-nav
    {
	font-size: $navbar-quick-nav-font-size;
    }

    .general-icon{
	@media screen and (max-width: 767px)
	{
	    display: none;
	}
    }
}
