.navbar-custom
{
    background: $navbar-background !important;
    height: 90px;
    padding-top: 20px;

    &-brand
    {
	color: $navbar-brand !important;
	font-size: $navbar-brand-font-size;
    }

    &-icon-group
    {
	padding-top: $navbar-icon-group-padding-top;
    }

    &-quick-nav
    {
	font-size: $navbar-quick-nav-font-size;
    }

    .general-icon{
	@media screen and (max-width: 767px)
	{
	    display: none;
	}
    }
}
