$default-width: 250px;
$default-top: 100px;

@mixin generateSlideout($selector, $width, $color, $background, $top)
{
    @include Core-Slideout-Base($selector, $width, $top)
    {
	@include Core-Slideout-Colors($background, $color);
    }
}

@mixin generateSlideoutDefault($selector, $color, $background)
{
    @include Core-Slideout-Base($selector, $default-width, $default-top)
    {
	@include Core-Slideout-Colors($background, $color);
    }
}

@mixin generateSlideoutFont($selector, $font-type, $font-size, $color, $top-margin)
{
    @include Core-Slideout-Fonts($selector, $font-type, $font-size, $color, $top-margin);
}

@mixin generateSlideoutHover($selector, $color)
{
    @include Core-Slideout-Fonts-Hover($selector, $color);
}

@include generateSlideoutDefault(".slide-out", $navbar-text, $navbar-background);
@include generateSlideoutFont(".slide-out", $navbar-quick-nav-font-size, $primary-font-family, $navbar-icons, 25px);
@include generateSlideoutHover(".slide-out", darken($navbar-icons, 20%)); 

.fast-facts, .fast-facts-container, html, body, fast-facts-header-container
{
    width: 100%;
    overflow-x: hidden;
}

