//TO IMPLEMENT:
//    TRANSITION.

//Selector: Obvious.
//Offset-Value: Offset for etnire list (Useful for filling area).
//Link-padding-left: offset of all selectors.
//Width: width of single list element.
//Height: height of single list element.
//Padding-top: padding of our entire list.
//Margin-top: margin of our entire list.
//Transform-top: % based indicator of how far down a should be in it's li element.
@mixin Core-Hoverable-Base($selector, $offset-value, $link-padding-left, $width, $height, $padding-top, $margin-top, $transform-top)
{
    #{$selector}
    {
	//Should be wrapped inside of a li item of which selector is named..
	//This will take our a values and center them in relation to their parent
	//selector.
	p{
	    position: relative;

	    //REQUIRES _STD-Translate
	    transform: translateY(-$transform-top);
	    top: $transform-top;
	    text-decoration: none !important;
	}

	position: relative;
	left: -$offset-value;
	height: $height;
	width: $width;
	padding-left: $link-padding-left;

	margin: 0px !important;

	&-wrapper{
	    height: 100vh !important;
	    position: relative;
	    padding-top: $padding-top;
	    margin-top: $margin-top;
	}
    }
}

.slide-down
{
    text-decoration: none !important;
}

//Simple color generator.
@mixin Core-Hoverable-Colors($selector, $font-color, $background-color)
{
    #{$selector}
    {
	&:hover{
	    //Overloads for this component.
	    background: $background-color !important;
	    color: $font-color !important;
	}
    }
}
