@include P01b-GenerateIntroduction-Left("reveal-on-scroll-fast-facts", "is-revealed", -200px, 0.5s);
@mixin _std-cartesian-translate-desktop($x, $y)
{
    position: relative;
    left: $x;
    transform: translateX(-$x);
    top: $y;
    transform: translateY(-$y);
}

.fast-facts
{
    position: absolute;
    height: $fast-facts-height;
    width: $fast-facts-width;
}
.fast-facts-container
{
    @media screen and (min-width: 768px)
    {
	@include _std-cartesian-translate-desktop($fast-facts-container-x-desktop, $fast-facts-container-y-desktop);
    }
}
.fast-facts-header-container
{
    @media screen and (min-width: 768px)
    {
	margin-left: 30%;
	margin-top: 66px;
    }

    @media screen and (max-width: 767px)
    {
	position: relative;
	left: $fast-facts-header-container-left-mobile;
	width: $fast-facts-header-container-x-mobile;
	margin-top: 60px;
    }

    h1{
	color: $fast-facts-color;

	@media screen and (max-width: 767px)
	{
	    font-size: $fast-facts-header-size * .65;
	}

	@media screen and (min-width: 768px)
	{
	    font-size: $fast-facts-header-size;
	}

    }
}

.fast-facts-content-container
{
    position: relative;

    li{
	margin-top: $fast-facts-content-container-li-margin-top;
	margin-bottom: $fast-facts-content-container-li-margin-top;
	list-style: none;
    }

    p{
	color: $fast-facts-color;
	text-transform: uppercase;
	font-weight: bold;

	@media screen and (min-width: 768px){
	    font-size: $fast-facts-paragraph-size * .8;
	}

	@media screen and (max-width: 767px){
	    font-size: $fast-facts-paragraph-size * .8;
	}

    }

    @media screen and (min-width: 768px)
    {
	@include _std-cartesian-translate-desktop($fast-facts-content-container-x-desktop, $fast-facts-content-container-y-desktop);
	margin-top: 50px;
	width: $fast-facts-content-container-width-desktop;
    }

    @media screen and (max-width: 767px)
    {
	position: relative;
	left: 9%;
	margin-top: 10%;
	width: $fast-facts-content-container-width-mobile;
    }
}

.fast-facts, .fast-facts-container, html, body, fast-facts-header-container
{
    @include STD-GenerateTransition-In(.2s);
    width: 100%;
    overflow-x: hidden;
}

.fast-facts-header-container
{
    @include STD-GenerateTransition-Out(.2s);
}

.fast-facts-columns
{
    @include STD-GenerateTransition-Out(.2s);
}

.fast-facts-header-toggled
{
    @media screen and (min-width: 768px)
    {
	position: relative;
	transform: translateX(-10%);
    }
    @include STD-GenerateTransition-In(.2s);
}

.fast-facts-content-toggled
{
    @media screen and (min-width: 768px)
    {
	position: relative;
	transform: translateX(-30%);
    }

    @include STD-GenerateTransition-In(.2s);
}
