@mixin _std-cartesian-translate-desktop($x, $y)
{
    position: relative;
    left: $x;
    transform: translateX(-$x);
    top: $y;
    transform: translateY(-$y);
}

.fast-facts
{
    position: absolute;
    height: $fast-facts-height;
    width: $fast-facts-width;
}
.fast-facts-container
{
    @media screen and (min-width: 768px)
    {
	@include _std-cartesian-translate-desktop($fast-facts-container-x-desktop, $fast-facts-container-y-desktop);
    }
}
.fast-facts-header-container
{
    @media screen and (min-width: 1001px)
    {
	@include _std-cartesian-translate-desktop($fast-facts-header-container-x-desktop, $fast-facts-header-container-y-desktop);
    }

    @media screen and (max-width: 1000px)
    {
	position: relative;
	left: $fast-facts-header-container-left-mobile;
	width: $fast-facts-header-container-x-mobile;
	top: $fast-facts-header-container-top-mobile;
    }

    h1{
	color: $fast-facts-color;

	@media screen and (max-width: 767px)
	{
	    font-size: $fast-facts-header-size * .65;
	}

	@media screen and (min-width: 768px)
	{
	    font-size: $fast-facts-header-size;
	}

    }
}

.fast-facts-content-container
{
    position: relative;

    li{
	margin-top: $fast-facts-content-container-li-margin-top;
	margin-bottom: $fast-facts-content-container-li-margin-bottom;
	list-style: none;
    }

    p{
	color: $fast-facts-color;
	text-transform: uppercase;
	font-weight: bold;

	@media screen and (max-width: 1000px){
	font-size: $fast-facts-paragraph-size;
	}

	@media screen and (min-width: 1001px){
	    font-size: 1.20vw !important;
	}
    }

    @media screen and (min-width: 1001px)
    {
	@include _std-cartesian-translate-desktop($fast-facts-content-container-x-desktop, $fast-facts-content-container-y-desktop);
	width: $fast-facts-content-container-width-desktop;
    }

    @media screen and (max-width: 1000px)
    {
	position: relative;
	width: $fast-facts-content-container-width-mobile;
    }
}



