.introduction-text-container
{
    position: absolute;
    z-index: $introduction-text-container-z-index;

    @media screen and (min-height: 768px)
    {
	top: $introduction-text-container-top-desktop;
	left: $introduction-text-container-left-desktop;
    }

    @media screen and (max-height: 767px)
    {
	top: $introduction-text-container-top-mobile;
	left: $introduction-text-container-left-mobile;
    }

    h1, h2{
	color: lighten(#c1bab3, 10%);
    }

    h1{
	font-size: $introduction-text-container-header-size;
    }

    h2{
	font-size: $introduction-text-container-subheader-size;
	@media screen and (max-width: 767px)
	{
	    display: none;
	}
    }

    .btn-read
    {
	margin-top: 20px;
    }

}
