.introduction-text-container
{
    @include STD-GenerateTransition-Out(.2s);

    position: absolute;
    z-index: $introduction-text-container-z-index;

    @media screen and (min-width: 768px)
    {
	position: absolute;
	top: 250px;
	left: 30%;
	transform: translateX(-30%)
    }

    @media screen and (max-width: 767px)
    {
	position: absolute;
	top: 250px;
	transform: translateY(-33%);
	left: 50%;
	transform: translateX(-50%)
    }

    h1, h2{
	color: lighten(#c1bab3, 10%);
    }

    h1{
	font-size: $introduction-text-container-header-size;
    }

    h2{
	font-size: $introduction-text-container-subheader-size;
	@media screen and (max-width: 767px)
	{
	    display: none;
	}
    }

    .btn-read
    {
	margin-top: 20px;
    }

}

.introduction-text-toggled
{
    @media screen and (min-width: 768px)
    {
	position: absolute;
	transform: translateX(-45%);
	@include STD-GenerateTransition-In(.2s);
    }
}
