.introduction-text-container
{
    position: absolute;
    z-index: 1000;

    @media screen and (min-height: 768px)
    {
	top: 300px;
	left: 22%;
    }

    @media screen and (max-height: 767px)
    {
	top: 100px;
	left: 22%;
    }

    h1, h2{
	color: lighten(#c1bab3, 10%);
    }

    h1{
	font-size: 7em;
    }

    h2{
	font-size: 4em;
    }

}
