@mixin STD-GenerateBackgroundTransition($time)
{
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
}

@mixin STD-GenerateTransition($time)
{
    transition: $time ease-in-out;
    -webkit-transition: $time ease-in-out;
    -o-transition: $time ease-in-out;
    -ms-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
}

@mixin STD-GenerateTransition-In($time)
{
    transition: $time ease-in;
    -webkit-transition: $time ease-in;
    -o-transition: $time ease-in;
    -ms-transition: $time ease-in;
    -moz-transition: $time ease-in;
}

@mixin STD-GenerateTransition-Out($time)
{
    transition: $time ease-out;
    -webkit-transition: $time ease-out;
    -o-transition: $time ease-out;
    -ms-transition: $time ease-out;
    -moz-transition: $time ease-out;
}

@mixin STD-GenerateTransition-Linear($time)
{
    transition: $time linear;
    -webkit-transition: $time linear;
    -o-transition: $time linear;
    -ms-transition: $time linear;
    -moz-transition: $time linear;
}
//Unique buttons.
@mixin P01b-ButtonTransition($time)
{
    transition: background-color $time, transform $time ease-out;
    -webkit-transition: background-color $time, transform $time ease-out;
    -o-transition: background-color $time, transform $time ease-out;
    -ms-transition: background-color $time, transform $time ease-out;
    -moz-transition: background-color $time, transform $time ease-out;
}
