//Descriptive Colors
$almost-black: rgb(20, 14, 14);
$almost-black-transparent: rgba(20, 14, 14, .5);
$almost-black-more-transparent: rgba(0, 0, 0, 0.6);
$blackish-button: #140e0e;
$pearly-white: white;
$drab-grey: #b0b0b0;
$idontevenknow-black: rgb(33, 29, 30);

$palette-1: $almost-black;
$palette-2: $almost-black-transparent;
$palette-3: $almost-black-more-transparent;
$palette-4: $blackish-button;
$palette-5: $pearly-white;
$palette-6: $drab-grey;
$palette-7: $idontevenknow-black;

//Button Colors.
    //Btn-Learn
      //In component/buttons/_btn-learn
	$btn-learn-background: $palette-4;
	$btn-learn-color: $palette-5;
	$btn-learn-background-hover: $palette-5;
	$btn-learn-color-hover: $palette-4;

    //Btn-Read
      //In component/buttons/_btn-read
	$btn-read-background: $palette-4;
	$btn-read-color: $palette-5;
	$btn-read-background-hover: $palette-2;
	$btn-read-color-hover: $palette-5;


//Containers
    //brand
	$brand-container-background: $palette-1;
    //text
	$text-container-background: $palette-2;

//Overlays
    //text
	$text-overlay-background: $palette-3;

//Layout Information
   //Introduction
	$introduction-container-background: $palette-1;

    //About-divider.
	$about-divider-background: $palette-5;
	$about-divider-color: $palette-1;
	$about-row-middle-text-color: $palette-6;

   //About-Body
	$about-body-text: $palette-7;
	$about-body-text-faded : $palette-6;


   //Gallery-body
	$gallery-body-container-background: $palette-7;
	//Row
	    $gallery-body-row-color: $palette-5;
	    $gallery-body-row-middle-text-color: $palette-6;

   //Gallery-divider.
	$gallery-divider-background: $palette-1;

       //Contact-Divider
	$contact-divider-background: $palette-1;
	$contact-row-middle-text-color: $palette-6;

    //Contact-Body
	$contact-body-text: $palette-7;
	$contact-body-text-faded : $palette-6;


	  

//Containers
    //Containers
	$brand-container-background: $palette-1;
	$text-container-background: $palette-1;
	$introduction-container-background: $palette-7;
	//
	    
