//Global Variables
    $primary-border-radius: 8px;
    $icon-border-radius: 100%;

//Layout margin positioning variables
    //Introduction
    $introduction-container-padding-top: 0px;
    $introduction-container-padding-bottom: 0px;

    //About Divider
    $about-divider-container-padding-top: 50px;
    $about-divider-container-padding-bottom: 50px;

    //About Body
    $about-body-container-padding-top: 0px;
    $about-body-container-padding-bottom: 100px;

    //Gallery Divider
    $gallery-divider-container-padding-top: 50px;
    $gallery-divider-container-padding-bottom: 50px;

    //Gallery Body
    $gallery-body-container-padding-top: 0px;
    $gallery-body-container-padding-bottom: 0px;

    //Contact Divider
    $contact-divider-container-padding-top: 50px;
    $contact-divider-container-padding-bottom: 100px;

    //Contact Body
    $contact-body-container-padding-top: 0px;
    $contact-body-container-padding-bottom: 100px;
