+generateSection("contact-divider")
  .text-xs-center.reveal-on-scroll-contact-divider.contact-divider-cont
    +generatePadding("medium", "top")
      +generatePadding("medium", "bottom")
         h1 <strong>Get In Touch</strong>
         .row
           .m-t-2.col-md-4.col-md-offset-4
             p Below you can find ways to get in touch with Karen and her various social media outlets.
         hr(class=["mini-break", "m-t-1"])