body
  include _navbar.pug
  include _slide-out.pug
  #d-port-1.m-y-0.rel-opl
  include _introduction.pug
  #d-port-2.m-y-0.rel-opl
  include _about-divider.pug
  include _about-body.pug
  #d-port-3.m-y-0.rel-opl
  include _gallery-divider.pug
  include _gallery-body.pug
  #d-port-4.m-y-0.rel-opl
  include _contact-divider.pug
  include _contact-body.pug
  include _footer.pug