.slide-out.slide-out-toggleOff
  .slide-out-content
    ul.slide-out-item-wrapper
      a.slide-down.ii(href="#introduction")
        li.slide-out-item#link-to-home
          p Home
      a.slide-down.ia(href="#about-divider")
        li.slide-out-item#link-to-about
          p About
      a.slide-down.ig(href="#gallery-divider")
        li.slide-out-item#link-to-gallery
          p Gallery
      a.slide-down.ic(href="#contact-divider")
        li.slide-out-item#link-to-contact
          p Contact