@mixin overlay-halve($bg-img)
{
    padding: 0px;
    margin: 0px;
    width: $introduction-overlay-width;
    height: $introduction-overlay-height;
    background-repeat: no-repeat;
    background-image: url($bg-img);

    @include backgroundSizeCover;
}

.introduction-overlay-left
{
    @include overlay-halve("/img/Runway/asset-runway5.jpg");

    @media screen and (max-width: 767px)
    {
	width: 100%;
    }
}

.introduction-overlay-right
{
    @include overlay-halve("/img/Runway/asset-runway7.jpg");

    @media screen and (max-width: 767px)
    {
	display: none;
    }
}
