//Mixin for DRY.
@mixin just-chillin($bg-img)
{
    padding: 0px;
    margin: 0px;
    width: $just-chillin-width;
    height: $just-chillin-height;
    background-repeat: no-repeat;
    background-image: url($bg-img);

    @include backgroundSizeCover;
}


.just-chillin-left
{
    @include just-chillin("../../img/page-assets/just-chillin-asset.jpg");

    @media screen and (max-width: 767px)
    {
	width: 100%;
    }
}

.just-chillin-right
{
    @include just-chillin("../../img/page-assets/just-chillin-asset-2.jpg");

    @media screen and (max-width: 767px)
    {
	display: none;
    }
}
