.modelGallery{
    cursor: pointer;

    //Reset stuff.
    background: transparent;
    color: transparent;
    border: 0px black solid;

    height: $model-gallery-height;
    width: $model-gallery-width;
    overflow: hidden;

    @include generateTransition(0.8s);

    img{
	@include img-full;
	@include generateTransition(0.8s);
    }

    h4{
	font-size: $model-gallery-text-size;
    }

    &:hover
    {
	//Generalize
	z-index: 0;
	position: relative;
	color: $model-gallery-text-color;

	@include generateTransition(0.8s);

	img{
	    @include scaleTransform(1.25);
	}
    }
}
.modelGalleryInvisible{
    display: none;
}
