.card{

    background: transparent;
}

.modelGallery{
    cursor: pointer;
    color: transparent;
    border: 0px black solid;
    border-radius: 0px;
    height: 25%;
    width: 100%;
    overflow: hidden;
    transition: 0.8s all;

    img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	line-height: 0;
	transition: 0.8s all;
    }

    h4{
	font-size: 2.5em;
    }

    &:hover
    {
	color: white;

	img{
	    transform: scale(1.25);
	}
    }
}

.card-img-top
{
}

.card-img-overlay
{
    text-align: center;
    @include va-card-overlay;
}

.double-height
{
    img{
    height: 500px;
    }
}
