include ../../component/icons/_index.pug
include _mobile-toggler.pug
  
mixin prototypicalNavbar(navbarStyle)
  nav(class=["navbar", "navbar-custom", "navbar-fixed-top" , navbarStyle])
     .container-fluid
        .col-md-3.p-l-3.brand-container-navbar
            a(class=["navbar-brand", "navbar-custom-brand", "pull-xs-left"], href="#") <strong>Karen Polzin</strong>
        .col-md-6.text-xs-center.navbar-custom-icon-group
            +facebook-icon-navbar
            +pintrest-icon-navbar
            +twitter-icon-navbar
            +google-icon-navbar
        .col-md-3.text-xs-right.p-r-3
            +mobileToggler
  //a
             