include ../../component/icons/_index.pug
  
mixin prototypicalNavbar(navbarStyle)
  nav(class=["navbar", "navbar-custom", navbarStyle])
    .container
        .col-md-3
            a(class=["navbar-brand", "navbar-custom-brand", "pull-xs-left"], href="#") Anna Wiedenauer
        .col-md-6.text-xs-center.navbar-custom-icon-group
            +facebook-icon
            +facebook-icon
            +facebook-icon
            +facebook-icon
        .col-md-3
            a(class=["navbar-brand", "pull-xs-right", "navbar-custom-quick-nav"], href="#") Anna Wiedenauer